%a.logo{:href => "http://propertyfeast.com"}
  = image_tag("propertyfeast.png")
%nav
  %a{:href => "#"} 
    PFML
    %span.version (version 0.0.2)
  %a{:href => "#overview"} Overview
  %a{:href => "#example"} Feed Format
  %a{:href => "#elements"} Elements
  %ul
    %li
      %a{:href => "#required_elements"} &ndash;  Required Elements
    %li
      %a{:href => "#optional_elements"} &ndash;  Optional Elements
    %li
      %a{:href => "#illegal_characters"} &ndash; Illegal Characters
    %li
      %a{:href => "#case_sensitivity"} &ndash; Case Sensitivity
    %li
      %a{:href => "#date_format"} &ndash; Date &amp; Time Formats
    %li
      %a{:href => "#attachments"} &ndash; Attachments
    %li
      %a{:href => "#repeatable"} &ndash; Repeatable Tags
  %a{:href => "#validate"} Validation
  %a{:href => "#delivery"} Delivery
  %a{:href => "#contributing"} Contributing