%section#about
  %h1 Property Feed Markup Language (PFML)
  %p
    %strong PFML is an XML markup language for transmitting real estate listings. 
    PFML is an abbreviation for “Property Feed Markup Language”. PFML is used by PropertyFeast partners to submit their listings to the PropertyFeast.com website.
  %p
    %strong Latest version: 
    = link_to "0.0.1", "https://github.com/propertyfeast/pfml"
    %strong Last updated:
    27/06/2011
