%section#contributing
  %h1 Contributing
  %p The PFML schema is hosted on Github. If you would like to contribute and improve the specification, fork the #{link_to "repo on github", "https://github.com/propertyfeast/pfml"} and issue a pull request with your changes. No other means of supplying code will be accepted.