%section#delivery
  %h1 Delivery
  %p
    Feeds are downloaded once a day from either a web or FTP server. An email report is generated if any listings have been imported, updated or failed. It is important that this feed is kept up to date and contains all listings that should be shown on the PropertyFeast website as well as ones that have been withdrawn sold or rented. Please #{link_to "contact PropertyFeast", "http://propertyfeast.com/about"} if you would like to publish your listings on PropertyFeast.com.