%section#optional_elements
  %h2 Optional Elements
  %p You are not required to include optional elements. However, to increase your exposure and rank higher in search results, we encourage that you provide all available information.
  %table
    %tr
      %th Element
      %th Type
      %th Description
    %tr
      %td
        :escaped
          <listingUrl/>
      %td URL
      %td The URL of the listing on your website.
    %tr
      %td
        :escaped
          <agent>
    %tr
      %td.indent
        :escaped
          <phone/>
      %td String
      %td
        A valid telephone number. The type of number can be defined with the "type" attribute on the element.
        %br
        %em Type attribute: office, mobile, home
    %tr
      %td.indent
        :escaped
          <photo>
    %tr
      %td.indent2
        :escaped
          <url/>
      %td URL
      %td
        The url of the agents profile photo. 
        %br
        %em Acceptable formats: JPG, PNG, GIF
    %tr
      %td.indent2
        :escaped
          <updated/>
      %td Datetime
      %td The last photos last updated time.
    %tr
      %td
        :escaped
          <location>
    %tr
      %td.indent
        :escaped
          <buildingName/>
      %td String
      %td The building name of the property.
    %tr
      %td.indent
        :escaped
          <streetNumber/>
      %td String
      %td The street number of the property.
    %tr
      %td.indent
        :escaped
          <street/>
      %td String
      %td
        The street address of the property
    %tr
      %td.indent
        :escaped
          <postcode/>
      %td String
      %td
        The postal code of the properties area
    %tr
      %td.indent
        :escaped
          <latitude/>
      %td Decimal
      %td
        The latitude of the property
        %br
        %em Min -90.0, Max 90.0
    %tr
      %td.indent
        :escaped
          <longitude/>
      %td Decimal
      %td
        The longitude of the property
        %br
        %em Min -180.0, Max 180.0
    %tr
      %td.indent
        :escaped
          <direction/>
      %td String
      %td The street directions to the properties location.
    %tr
      %td.indent
        :escaped
          <showAddress>
      %td Boolean
      %td Display the full address. If false then only the suburb name will be shown.
    %tr
      %td
        :escaped
          <details>
    %tr
      %td.indent
        :escaped
          <bedrooms/>
      %td String
      %td 
        The number of bedrooms this property has.
        %br
        %em Studio, 0, 1, 2, 3, 4, 5...
    %tr
      %td.indent
        :escaped
          <bathrooms/>
      %td String
      %td 
        The number of bathrooms this property has.
        %%br
        %em 0, 1, 2, 3, 4, 5...
    %tr
      %td.indent
        :escaped
          <parking/>
      %td String
      %td 
        The number of parking spaces this property has.
        %em street, carport, 0, 1, 2, 3, 4, 5...
    %tr
      %td.indent
        :escaped
          <dateAvailable/>
      %td Date
      %td The date the property is available. For new developments this is the date the property is "ready for possession".
    %tr
      %td.indent
        :escaped
          <price>

          
    %tr
      %td.indent2
        :escaped
          <amount/>
      %td Decimal
      %td The total price of the property in the specified currency. For rentals this is the amount payable each period.
    %tr
      %td.indent2
        :escaped
          <currency/>
      %td Decimal
      %td 
        Currency value should conform to the
        #{link_to "ISO4217", "http://en.wikipedia.org/wiki/ISO_4217", :target => "_blank"} standard.
    %tr
      %td.indent2
        :escaped
          <label/>
      %td String
      %td 
        The price label is prepended to the price.
        %br
        %em priced_at, priced_from, price_on_request, priced_between, offers_over, reduced_to, negotiable

    %tr
      %td.indent2
        :escaped
          <minAmount/>
      %td Decimal
      %td The minimum price for this property. Used to display ranged prices and used in conjunction with "maxAmount".
    %tr
      %td.indent2
        :escaped
          <maxAmount/>
      %td Decimal
      %td The maximum price for this property. Used to display ranged prices and used in conjunction with "minAmount".
    
    %tr
      %td.indent
        :escaped
          <soldPrice/>
    %tr
      %td.indent2
        :escaped
          <amount/>
      %td Decimal
      %td The amount this property was sold for.
    %tr
      %td.indent2
        :escaped
          <saleDate/>
      %td Date
      %td The date the sale occurred.

    %tr
      %td.indent
        :escaped
          <rentalTerms>
      %td &nbsp;
      %td &nbsp;

    %tr
      %td.indent2
        :escaped
          <deposit/>
    %tr
      %td.indent3
        :escaped
          <amount/>
      %td Decimal
      %td The rental deposit for the property.
    %tr
      %td.indent3
        :escaped
          <currency/>
      %td String
      %td The currency of the rental deposit.
    %tr
      %td.indent2
        :escaped
          <leaseType/>
      %td String
      %td
        The lease period type
        %br
        %em daily, weekly, fortnightly, monthly, yearly

    %tr
      %td.indent2
        :escaped
          <leaseDuration/>
      %td Decimal
      %td
        The minimum lease duration
        %br
        The period attribute defines the values period.
        %em days, weeks, months, years

    %tr
      %td.indent
        :escaped
          <building>

    %tr
      %td.indent2
        :escaped
          <newlyBuilt/>
      %td Boolean
      %td Whether the property is new project or has been built recently.
    %tr
      %td.indent2
        :escaped
          <yearBuilt/>
      %td Integer
      %td 
        The year the property was built. 
        %br
        %em Format: YYYY
    %tr
      %td.indent2
        :escaped
          <floorNumber/>
      %td Integer
      %td The floor number of the property if within a multi-story building.

    %tr
      %td.indent2
        :escaped
          <architectureStyle/>
      %td Integer
      %td The architectural style of the property.
      
    %tr
      %td.indent2
        :escaped
          <orientation/>
      %td Integer
      %td 
        The orientation of the property.
        %br
        %em Acceptable Values: north, north-east, north-west, south, south-east, south-west, east, west
    %tr
      %td.indent2
        :escaped
          <area/>
      %td Integer
      %td
        The total covered area of the building.
        %br
        The unit attribute allows the following values:
        %br
        %em feet, meters

    %tr
      %td.indent
        :escaped
          <land>

    %tr
      %td.indent2
        :escaped
          <area/>
      %td Integer
      %td
        The total land area of the property.
        %br
        The unit attribute allows the following values:
        %br
        %em feet, meters, yards, acres, hectares
        
    %tr
      %td.indent2
        :escaped
          <frontage/>
      %td Integer
      %td
        The frontage of the property.
        %br
        The unit attribute allows the following values:
        %br
        %em feet, meters, yards, acres, hectares

    %tr
      %td.indent
        :escaped
          <project>

    %tr
      %td.indent2
        :escaped
          <projectName/>
      %td String
      %td The name of the Project
    %tr
      %td.indent2
        :escaped
          <builder/>
      %td String  
      %td The name of the builder if the property is newly built.

    %tr
      %td.indent2
        :escaped
          <completionDate/>
      %td String  
      %td The completion date of the project.

  
    %tr
      %td.indent
        :escaped
          <amenities>
      %td Boolean
      %td All amenities are boolean values.
    %tr
      %td.indent2
        :escaped
          <other/>
      %td String
      %td A comma seperated list of additional amenities
    %tr
      %td
        :escaped
          <attachments>
      %td &nbsp;
      %td &nbsp;
  
    %tr
      %td.indent
        :escaped
          <photo>
        %br
        :escaped
          <floorplan>
        %br
        :escaped
          <video>
        %br
        :escaped
          <document>
      %td &nbsp;
      %td
        %strong Acceptable Formats
        %br
        %em Photo/Floorplan: jpg, gif, png
        %br
        %em Video: mov, avi, mpg, flv, wmv
        %br
        %em Document: pdf
    %tr
      %td.indent2
        :escaped
          <url/>
      %td String
      %td The url for the attachment
    %tr
      %td.indent2
        :escaped
          <caption/>
      %td String
      %td The caption to be displayed with the attachment
    %tr
      %td.indent2
        :escaped
          <description/>
      %td String
      %td The description of the attachment. This helps optimize search engine keywords.
      
    %tr
      %td.indent2
        :escaped
          <updated/>
      %td String
      %td The last updated time of this attachment.