%section#example
  %h1 XML Feed Format
  %p
    %h5
      PFML Specification
      (#{link_to "example feed", "https://github.com/propertyfeast/pfml/blob/master/example.xml"})
      (#{link_to "XSD schema", "https://github.com/propertyfeast/pfml/blob/master/pfml.xsd"})
    :coderay
      #!xml
      <?xml version="1.0" encoding="UTF-8"?>

      <listings>

          <listing>
              <listingId/>
              <listingType>(residential_rental|residential_sale)</listingType>
              <companyId/>
              <status>(active|rented|sold|under_contract|withdrawn)</status>
              <listingUrl/>
              <updated/>
              <agent><!-- repeatable tag -->
                  <name/>
                  <phone type="(office|mobile|home)"/><!-- repeatable tag -->
                  <email/>
                  <photo>
                      <url/>
                      <updated/>
                  </photo>
              </agent>
              <location>
                  <buildingName/>
                  <streetNumber/>
                  <street/>
                  <locality/>
                  <city/>
                  <region/>
                  <country/>
                  <postcode/>
                  <longitude/>
                  <latitude/>
                  <directions/>
                  <showAddress/>
              </location>
              <details>
                  <headline/>
                  <description/>
                  <propertyType><!-- repeatable tag -->
                    (apartment|house|penthouse|bungalow|villa|row_house|farm_house|duplex)
                  </propertyType>
                  <bedrooms/><!-- repeatable tag -->
                  <bathrooms/><!-- repeatable tag -->
                  <parking/><!-- repeatable tag -->
                  <dateAvailable/>
                  <price>
                      <amount/>
                      <currency/>
                      <label>(priced_at|priced_from|price_on_request)</label>
                      <minAmount/>
                      <maxAmount/>
                  </price>
                  <soldPrice>
                      <amount/>
                      <currency/>
                      <saleDate/>
                  </soldPrice>
                  <rentalTerms>
                      <deposit>
                          <amount/>
                          <currency/>
                      </deposit>
                      <leaseType>(weekly|fortnightly|monthly)</leaseType>
                      <leaseDuration period="(days|weeks|months|years)"/>
                  </rentalTerms>
                  <building>
                      <newlyBuilt/>
                      <yearBuilt/>
                      <floorNumber/>
                      <architectureStyle/>
                      <orientation/>
                      <area unit="(feet|meters|yards)"/>
                  </building>
                  <land>
                      <area unit="(feet|meters|yards|acres|hectares)"/>
                      <frontage unit="(feet|meters|yards|acres|hectares)"/>
                  </land>
                  <project>
                      <name/>
                      <builder/>
                      <completionDate/>
                  </project>
                  <amenities>
                      <study>(yes|no)</study>
                      <vaastu>(yes|no)</vaastu>
                      <airConditioning>(yes|no)</airConditioning>
                      <servantQuarters>(yes|no)</servantQuarters>
                      <elevator>(yes|no)</elevator>
                      <heating>(yes|no)</heating>
                      <hotWater>(yes|no)</hotWater>
                      <dishwasher>(yes|no)</dishwasher>
                      <dryer>(yes|no)</dryer>
                      <powerBackup>(yes|no)</powerBackup>
                      <swimmingPool>(yes|no)</swimmingPool>
                      <gymnasium>(yes|no)</gymnasium>
                      <security>(yes|no)</security>
                      <handicapAccess>(yes|no)</handicapAccess>
                      <tennisCourt>(yes|no)</tennisCourt>
                      <clubHouse>(yes|no)</clubHouse>
                      <furnished>(yes|no)</furnished>
                      <petsAllowed>(yes|no)</petsAllowed>
                      <smokersAllowed>(yes|no)</smokersAllowed>
                      <broadband>(yes|no)</broadband>
                      <cableTV>(yes|no)</cableTV>
                      <onsiteManager>(yes|no)</onsiteManager>
                      <otherAmenities/>
                  </amenities>
              </details>
              <attachments>
                  <photo><!-- repeatable tag -->
                      <url/>
                      <caption/>
                      <description/>
                      <updated/>
                  </photo>
                  <floorplan><!-- repeatable tag -->
                      <url/>
                      <caption/>
                      <description/>
                      <updated/>
                  </floorplan>
                  <video><!-- repeatable tag -->
                      <url/>
                      <caption/>
                      <description/>
                      <updated/>
                  </video>
                  <document><!-- repeatable tag -->
                      <url/>
                      <caption/>
                      <description/>
                      <updated/>
                  </document>
              </attachments>
          </listing>

      </listings>
