%section#overview
  %h1 Overview
  %p So what is so special about PFML?
  %ul
    %li Simple & flexible schema, easy to implement.
    %li Geocoded property locations.
    %li Multi currency listings.
    %li Image, Video and Document attachments.
    %li Supports listings with multiple property types and configurations.
    %li Grouped listings for large projects (coming soon)
    %li Residential and Commercial listings (coming soon)